
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-ng="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">AngularJS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="news">News</a></li>
                <li ui-sref-active="active"><a ui-sref="cars">Cars</a></li>
                <li ui-sref-active="active"><a ui-sref="chat">Chat</a></li>
                <li ui-sref-active="active"><a ui-sref="contactUs">Contact us</a></li>
                <li ui-sref-active="active"><a ui-sref="signin">Signin</a></li>

            </ul>
        </div>
    </div>
</nav>
