<br>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>

            <th>price</th>
            <th>img</th>
            <th>Add </th>

        </tr>
    </thead>
    <tbody>

        <tr ng-repeat="car in cars">
            <td ng-bind="car.id"></td>
            <td ng-bind="car.name"></td>
            <td ng-bind="car.price"></td>
            <td> <img width="32" height="32" ng-src="{{car.img}}"></td>
            <td>
                <button type="button" class ="Blue button class: btn btn-primary" ng-click="add(car)"><i class="glyphicon glyphicon-plus"></i></button>
            </td>


        </tr>

    </tbody>



</table>


<br>
<br>


<br>
<br>
<table class="table table-striped">
    <thead>
        <tr>
  <!-- <th>ID</th> -->
<th>ID</th>
<th>Name</th>
<th>Price</th>
            <th>Image</th>
            <th>Remove</th>

        </tr>
    </thead>
    <tbody>

        <tr ng-repeat="c in cart.cars track by $index" >
  <td ng-bind="c.id"></td>
            <td ng-bind="c.name"></td>
              <td ng-bind="c.price | currency"></td>
                <td><img width="32" height="32" ng-src="{{c.img}}"></td>

            <td>
                <button type="button" class ="Red button class: btn btn-danger" ng-click="remove($index,c.price)"><i class="glyphicon glyphicon-trash"></i>
</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>Total Cars</td>
        <td>{{cart.cars.length}}</td>
      </tr>
      <tr>
        <td>Total Amount</td>
        <td ng-bind="cart.totalAmount | currency"></td>
      </tr>
    </tfoot>

</table>
<!-- ng-hide="cart.cars" -->


  <button type="button" class ="Red button class: btn btn-danger" ng-click="removeAll()" ng-show="cart.cars.length" style="display: block; margin: 0 auto;">Remove All</button>
