<br>
<br>
<form name="form"  class="well form-horizontal" >

<div name = "result">
<ul ng-repeat=" chat in chats track by $index">

  <li>{{chat.id}} - {{chat.text}} - {{chat.date | date:'hh:mm:ss a dd/MM/yyyy'}}
      <input type="text" name="Id" ng-show="false" ng-model="Id" ng-init="Id=$index+1" ng-value="$index+1"  >
  </li>

</ul>

</div>
<div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon">
        </span>
        <input type="text" name="chat" ng-model="chat" class="form-control" placeholder="write Here" ng-keypress="($event.which===13)?send(form):0" />

    </div>
</div>
<button type="button" class='btn btn-success' ng-click="send(form)"   ><i class="glyphicon glyphicon-send"></i>
</button>
</form>
