<form name="form" ng-submit="send(form)" class="well form-horizontal" novalidate>
    <fieldset>
        <legend>Contact Us</legend>

        <div class="form-group">
            <label class="col-md-4 control-label">First name</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input type="text" name="first_name" ng-model="first_name" class="form-control" placeholder="First name" ng-maxlength="5" required />

                    <div ng-show="form.$submitted || form.first_name.$touched">
                        <small class="required-block" ng-show="form.first_name.$error.required">First name is required</small>
                        <small class="required-block" ng-show="form.first_name.$error.maxlength">First name can be from 1 to 5 characters only.</small>
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Last name</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input type="text" name="last_name" ng-model="last_name" placeholder="Last name" class="form-control" ng-maxlength="15" required />
                    <div ng-show="form.$submitted || form.first_name.$touched">
                        <small class="required-block" ng-show="form.first_name.$error.required">Last name is required</small>
                        <small class="required-block" ng-show="form.first_name.$error.maxlength">Last name can be from 1 to 15 characters only.</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Email</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </span>
                    <input type="email" name="email" ng-model="email" placeholder="Email address" class="form-control" required />
                    <div ng-show="form.$submitted || form.email.$touched">
                        <small class="required-block" ng-show="form.email.$error.required">Email is required</small>
                        <small class="required-block" ng-show="form.email.$error.email">Email must be valid</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Phone #</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-earphone"></i>
                    </span>
                    <input name="phone" placeholder="(845)555-1212" ng-model="phone" class="form-control" type="number" ng-pattern="phoneNumbr" ng-pattern="phoneNumberPattern" required>
                    <div ng-show="form.$submitted || form.phone.$touched">
                        <small class="required-block" ng-show="form.phone.$error.required">phone is required</small>
                        <!-- <small class="required-block" ng-show="form.phone.$error.">phone not valid</small> -->

                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Country</label>
            <div class="col-md-4 selectContainer">

                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-list"></i>
                    </span>
                    <select name="country" class="form-control selectpicker" ng-model="country" required>

                        <option value=" ">Please select your country</option>
                        <option>Jordan</option>
                        <option>UAE</option>

                    </select>
                    <div ng-show="form.$submitted || form.country.$touched">
                        <small class="required-block" ng-show="form.country.$error.required">country is required</small>
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label">Description</label>
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </span>
                    <textarea class="form-control" name="description" ng-model="description" placeholder="Description" required></textarea>
                    <div ng-show="form.$submitted || form.description.$touched">
                        <small class="required-block" ng-show="form.description.$error.required">Description is required</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-success" role="alert" ng-show="result">
            Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <button type="submit" class="btn btn-warning btn-block">Send
                    <span class="glyphicon glyphicon-send"></span>
                </button>
            </div>
        </div>

    </fieldset>
</form>
