<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>

            <th>location</th>
            <th>Cars</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>

        <tr ng-repeat="user in users" >
            <td ng-bind="user.id"></td>
            <td ng-bind="user.name"></td>
              <td ng-bind="getLocation(user.location)"></td>
             <!-- <td ng-bind="user.cars"></td> -->

             <td ><div ng-repeat="car in user.cars">id :{{car.id}}
               <div>name :{{car.name | uppercase}}</div>
               <img width="32" height="32" ng-src="{{car.img}}">
              <hr>
             </div>
              </td>
            <td ng-bind-html="user.status | statusFilter"></td>

        </tr>

    </tbody>
</table>
<!--
<td ><div ng-repeat="car in user.cars">id :{{car.id}}
  <div>name :{{car.name}}</div>
 <hr>
</div>
 </td> -->
