<table class="table table-stripped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Created at</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="category in categories.data">
            <td ng-bind="category.id"></td>
            <td ng-bind="category.name"></td>
            <td ng-bind="category.created_at | date:'dd/MM/yyyy hh:MM:ss a'"></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" align="center">Total categories is {{categories.meta.count}}</td>
        </tr>
    </tfoot>
</table>


<div class="text-center" paging page="currentPage" page-size="10" total="categories.meta.count" paging-action="search(page)" show-prev-next="true" show-first-last="true"></div>
