
<form name="signinForm" ng-submit="signin(signinForm)" class="well form-horizontal" novalidate>

    <table class="table table-striped">
        <tr>
            <td>Email</td>
            <td>
                <input type="email" name="email" ng-model="email" class="form-control" required>
                <div ng-show="signinForm.$submitted || signinForm.email.$touched">
                    <small class="required-block" ng-show="signinForm.email.$error.required">Email is required</small>
                    <small class="required-block" ng-show="signinForm.email.$error.email">Email must be valid</small>
                </div>
            </td>
        </tr>
        <tr>
            <td>Password</td>
            <td>
                <input type="password" name="password" ng-model="password" class="form-control"  required>
                <div ng-show="signinForm.$submitted || signinForm.password.$touched">
                    <small class="required-block" ng-show="signinForm.password.$error.required">password is required</small>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button type="submit" class="btn btn-primary">Signin</button>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <div class="alert alert-{{class}} text-center" ng-bind="message" ng-show="message"></div>
            </td>
        </tr>
    </table>

</form>
